* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#topnav {
    background-image: linear-gradient(#6e6c3f, #233f46);
    overflow: hidden;
    font-family: OpenDyslexic;
    font-weight: bold;
    height: 50px;
    object-fit: fill;
    transition: top 0.3s;
    position: fixed;
    top: 0;
    width: 100%;
}

#topnav a {
    float: left;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}

#topnav a:hover {
    background-image: linear-gradient(#ebe78a, #3e717d);
    color: white;
}


@font-face {
  font-family: 'OpenDyslexic';
  src: url('/media/font/OpenDyslexic.eot'); /* IE9 Compat Modes */
  src: url('/media/font/OpenDyslexic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/media/font/OpenDyslexic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/media/font/OpenDyslexic.woff') format('woff'), /* Pretty Modern Browsers */
       url('/media/font/OpenDyslexic.ttf')  format('truetype'), /* Safari, Android, iOS */
}

body {
    background-image: linear-gradient(#6e6c3f, #233f46);
    background-attachment: fixed;
    font-family: 'OpenDyslexic', Fallback, lexend;
    color: white;
}

a {
    color: inherit;
} 


p {
    width: 90%;
}
h1 {
    width: 90%;
}

.SplitScreen {
    font-weight: bold;
    color: white;
    font-size: 40px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    text-align: left;
}
.button1 a {
    text-decoration: none;
    border: 5px solid;
    border-image-source: linear-gradient(to bottom, #ebe78a, #3e717d);
    background-image: linear-gradient(#889be1, #643ea5);
    border-image-slice: 1;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    font-weight: bold;
    color: white;
    
}

.button1 a:hover {
    background-image: linear-gradient(white, white);
    color: black;
}

.button0 a {
    text-decoration: none;
    border: 5px solid white;
    background-image: linear-gradient(#ebe78a, #3e717d);
    border-image-slice: 1;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    width: 80%;
    border-radius: 12px;
    
}

.button0 a:hover {
    background-image: linear-gradient(white, white);
    color: black;
}

.button2 a {
    text-decoration: none;
    border: 5px solid;
    border-image-source: linear-gradient(to bottom, #ebe78a, #3e717d);
    background-image: linear-gradient(#cda0ad, #835254);
    border-image-slice: 1;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    font-weight: bold;
    color: white;
    
}

.button2 a:hover {
    background-image: linear-gradient(white, white);
    color: black;
}

.button3 a {
    text-decoration: none;
    border: 5px solid;
    border-image-source: linear-gradient(to bottom, #ebe78a, #3e717d);
    background-image: linear-gradient(#bbbbbb, #9a9a9a);
    border-image-slice: 1;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    font-weight: bold;
    color: white;
    
}

.button3 a:hover {
    background-image: linear-gradient(white, white);
    color: black;
}

.button4 a {
    text-decoration: none;
    border: 5px solid;
    border-image-source: linear-gradient(to bottom, #ebe78a, #3e717d);
    background-image: linear-gradient(#41d0ce, #3a6200);
    border-image-slice: 1;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    font-weight: bold;
    color: white;
    
}

.button4 a:hover {
    background-image: linear-gradient(white, white);
    color: black;
}

.button5 a {
    text-decoration: none;
    border: 5px solid;
    border-image-source: linear-gradient(to bottom, #ebe78a, #3e717d);
    background-image: linear-gradient(#dee543, #2c2e00);
    border-image-slice: 1;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    font-weight: bold;
    color: white;
    
}

.button5 a:hover {
    background-image: linear-gradient(white, white);
    color: black;
}

footer {
    background-image: linear-gradient(to right, #6e6c3f, #233f46);
    width: 100%;
    font-size: 10px;
    color: white;
    text-decoration: none;
    font-family: OpenDyslexic;
    
}

.four0four {
  height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
}

.four0four a.button {
    text-decoration: none;
    border: 5px solid white;
    background-image: linear-gradient(#ebe78a, #3e717d);
    border-image-slice: 1;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    width: 80%;
    border-radius: 12px;
    
}

.four0four a.button:hover {
    background-image: linear-gradient(white, white);
    color: black;
}